<div class="sidebar">
    <h2 class="text-white">LOGO</h2>
    <ul class="list-unstyled">
        <li routerLinkActive="active">
            <a routerLink="category" class="text-white">
                <img src="assets/category.svg" alt="category icon">
                <span>Category</span>
            </a>
        </li>
        <li>
            <a class="text-white">
                <img src="assets/product.svg" alt="product icon">
                <span>Product</span>
            </a>
        </li>
        <li>
            <a class="text-white">
                <img src="assets/order.svg" alt="order icon">
                <span>Order</span>
            </a>
        </li>
        <li>
            <a class="text-white">
                <img src="assets/profile.svg" alt="user icon">
                <span>User</span>
            </a>
        </li>
    </ul>
</div>
